# =====================================================
# HELIOS
# Environment variables
# =====================================================

# HELIOS

HELIOS_LANGUAGE=es
HELIOS_THEME=light
PVGIS_CACHE=data/cache